<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="a1" class="org.example.models.Address" >
        <property name="city" value="HCM"></property>
        <property name="country" value="VN"></property>
        <property name="state" value="GV"></property>
    </bean>
    <bean id="e1" class="org.example.models.Employee">
        <property name="id" value="1"></property>
        <property name="name" value="Hehe"></property>
        <property name="address" ref="a1"></property>

    </bean>
</beans>